<h1>R notes Intermediate course.</h1><h2 style="color: blue;">Relational Operators.</h2>

<h3 style="color: green; padding: 0; margin:5px;">Equality</h3>

In [111]:
print("output...")
print(".........")
TRUE == TRUE

[1] "output..."
[1] "........."

[1] TRUE

In [112]:
print("output...")
print(".........")
TRUE == FALSE

[1] "output..."
[1] "........."

[1] FALSE

In [113]:
print("output...")
print(".........")
"hello" == " goodbye"

[1] "output..."
[1] "........."

[1] FALSE

In [114]:
print("output...")
print(".........")
3 == 2

[1] "output..."
[1] "........."

[1] FALSE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green; padding: 0; margin:5px;">Inequality</h3>

In [115]:
print("output...")
print(".........")
TRUE != TRUE

[1] "output..."
[1] "........."

[1] FALSE

In [116]:
print("output...")
print(".........")
TRUE != FALSE

[1] "output..."
[1] "........."

[1] TRUE

In [117]:
print("output...")
print(".........")
"hello" != " goodbye"

[1] "output..."
[1] "........."

[1] TRUE

In [118]:
print("output...")
print(".........")
3 != 2

[1] "output..."
[1] "........."

[1] TRUE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green; padding: 0; margin:5px;">Greater than, less than</h3>

In [119]:
print("output...")
print(".........")
3 < 5

[1] "output..."
[1] "........."

[1] TRUE

In [120]:
print("output...")
print(".........")
3 > 5

[1] "output..."
[1] "........."

[1] FALSE

In [121]:
print("output...")
print(".........")

#Alphabetical Order!

'Hello' > 'Goodbye'

[1] "output..."
[1] "........."

[1] TRUE

In [122]:
print("output...")
print(".........")

#TRUE coerces to 1
#FALSE coerces to 0

TRUE < FALSE

[1] "output..."
[1] "........."

[1] FALSE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green; padding: 0; margin:5px;">Greater or equals than, less or equals than</h3>

In [123]:
print("output...")
print(".........")
5 >= 3

[1] "output..."
[1] "........."

[1] TRUE

In [124]:
print("output...")
print(".........")
3 >= 3

[1] "output..."
[1] "........."

[1] TRUE

In [125]:
print("output...")
print(".........")
5 <= 3

[1] "output..."
[1] "........."

[1] FALSE

In [126]:
print("output...")
print(".........")
5 <= 3

[1] "output..."
[1] "........."

[1] FALSE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green; padding: 0; margin:5px;">Relational Operators & vectors</h3>

In [127]:
print("output...")
print(".........")
linkedin <- c(16,9,13,5, 2, 17, 14)
linkedin

[1] "output..."
[1] "........."

[1] 16  9 13  5  2 17 14

In [128]:
print("output...")
print(".........")
linkedin > 10

[1] "output..."
[1] "........."

[1]  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE

In [129]:
print("output...")
print(".........")
facebook <- c(17, 7, 5, 16, 8, 13, 14)
facebook

[1] "output..."
[1] "........."

[1] 17  7  5 16  8 13 14

In [130]:
print("output...")
print(".........")
facebook <= linkedin

[1] "output..."
[1] "........."

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h2 style="color: blue;">Logical Operators</h2>
<h3 style="color: green;">And operator "&"</h3>

In [131]:
print("output...")
print(".........")
TRUE & TRUE

[1] "output..."
[1] "........."

[1] TRUE

In [132]:
print("output...")
print(".........")
TRUE & FALSE

[1] "output..."
[1] "........."

[1] FALSE

In [133]:
print("output...")
print(".........")
FALSE & FALSE

[1] "output..."
[1] "........."

[1] FALSE

In [134]:
print("output...")
print(".........")
FALSE & TRUE

[1] "output..."
[1] "........."

[1] FALSE

In [135]:
print("output...")
print(".........")
x <- 12
x > 5 & x < 5

[1] "output..."
[1] "........."

[1] FALSE

In [136]:
print("output...")
print(".........")
x <- 17
x > 5 & x < 15

[1] "output..."
[1] "........."

[1] FALSE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green;">OR operator "|"</h3>

In [137]:
print("output...")
print(".........")
TRUE | TRUE

[1] "output..."
[1] "........."

[1] TRUE

In [138]:
print("output...")
print(".........")
TRUE | FALSE

[1] "output..."
[1] "........."

[1] TRUE

In [139]:
print("output...")
print(".........")
FALSE | FALSE

[1] "output..."
[1] "........."

[1] FALSE

In [140]:
print("output...")
print(".........")
FALSE | TRUE

[1] "output..."
[1] "........."

[1] TRUE

In [141]:
print("output...")
print(".........")
y <- 4 
y < 5 | y > 15

[1] "output..."
[1] "........."

[1] TRUE

In [142]:
print("output...")
print(".........")
y <- 14
y < 5 | y > 15

[1] "output..."
[1] "........."

[1] FALSE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green;">NOT operator "!"</h3>

In [143]:
print("output...")
print(".........")
!TRUE

[1] "output..."
[1] "........."

[1] FALSE

In [144]:
print("output...")
print(".........")
!FALSE

[1] "output..."
[1] "........."

[1] TRUE

<p>Other examples, the function is.numeric returns if the value is a number or not, if it is a number the output will be true but if we use the not operator this behavior will change as follow</p>

In [145]:
print("output...")
print(".........")
is.numeric(5)

[1] "output..."
[1] "........."

[1] TRUE

In [146]:
print("output...")
print(".........")
!is.numeric(5)

[1] "output..."
[1] "........."

[1] FALSE

In [147]:
print("output...")
print(".........")
is.numeric('hello')

[1] "output..."
[1] "........."

[1] FALSE

In [148]:
print("output...")
print(".........")
!is.numeric('hello')

[1] "output..."
[1] "........."

[1] TRUE

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3 style="color: green;">Logical operators & vectors</h3>

In [149]:
print("output...")
print(".........")
c(TRUE, TRUE, FALSE) & c(TRUE, FALSE, FALSE)

[1] "output..."
[1] "........."

[1]  TRUE FALSE FALSE

In [150]:
print("output...")
print(".........")
c(TRUE, TRUE, FALSE) | c(TRUE, FALSE, FALSE)

[1] "output..."
[1] "........."

[1]  TRUE  TRUE FALSE

In [151]:
print("output...")
print(".........")
!c(TRUE, TRUE, FALSE)

[1] "output..."
[1] "........."

[1] FALSE FALSE  TRUE