<h1>R notes Intermediate course data camp.</h1><h2 style="color: blue;">The apply family.</h2>
<h3>lapply()</h3>
<ul>
    <li>Apply funciton over list or vector</li>
    <li>Function can retur R objects of different classes</li>
</ul>
<p>lapply applies a function overa vector or list and returns a list with the results of executing all instances of the vector or list into the function</p>
<p><span style="color: red;">lapply</span>( <strong>vector_or_list</strong>, function )</p>

In [4]:
print("output...")
print(".........")

nyc <- list(pop = 8405837, 
            boroughs = c("Manhattan", "Bronx", "Brooklyn","Queens", "Staten Island"), 
            capital = FALSE)

lapply(nyc, class)

[1] "output..."
[1] "........."

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

In [5]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

lapply(cities, nchar)

[1] "output..."
[1] "........."

[[1]]
[1] 11

[[2]]
[1] 4

[[3]]
[1] 9

[[4]]
[1] 9

<p style="color: red">saving result on a variable to display later</p>

In [7]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

char_count <- lapply(cities, nchar)

str(char_count)

[1] "output..."
[1] "........."
List of 4
 $ : int 11
 $ : int 4
 $ : int 9
 $ : int 9

<p style="color: red">you can use your same functions</p>

In [10]:
print("output...")
print(".........")

price_list <- c(1,2,3.4, 2.5, 10.3)

triple <- function(prices){
    return(prices * 3)
}

lapply(price_list, triple)

[1] "output..."
[1] "........."

[[1]]
[1] 3

[[2]]
[1] 6

[[3]]
[1] 10.2

[[4]]
[1] 7.5

[[5]]
[1] 30.9

<p style="color: red;">forcing lapply to return a vector</p>

In [20]:
print("output...")
print(".........")

price_list <- c(1,2,3.4, 2.5, 10.3)

triple <- function(prices){
    return(prices * 3)
}

unlist(lapply(price_list, triple))

[1] "output..."
[1] "........."

[1]  3.0  6.0 10.2  7.5 30.9

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3>sapply()</h3>
<p>sapply applies a function overa vector or list and returns a vector or matrix with the results of executing all instances of the vector or list into the function</p>
<p><span style="color: red;">sapply</span>( <strong>vector_or_list</strong>, function )</p>

In [12]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

sapply(cities, nchar)

[1] "output..."
[1] "........."

Guadalajara        CDMX   Monterrey   Queretaro
         11           4           9           9

<p style="color: red;">saving result in a variable</p>

In [18]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

char_count <- sapply(cities, nchar)

char_count

[1] "output..."
[1] "........."

Guadalajara        CDMX   Monterrey   Queretaro
         11           4           9           9

<p style="color: red;">removing the names</p>

In [19]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

char_count <- sapply(cities, nchar, USE.NAMES = FALSE)

char_count

[1] "output..."
[1] "........."

[1] 11  4  9  9

<p style="color: red;">returning a matrix</p>

In [23]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

first_and_last <- function(name) {  
    name <- gsub(" ", "", name)  
    letters <- strsplit(name, split = "")[[1]]  
    return(c(first = min(letters), last = max(letters)))
}


sapply(cities, first_and_last)

[1] "output..."
[1] "........."

      Guadalajara CDMX Monterrey Queretaro
first a           C    e         a
last  u           X    y         u

<hr style="border: none; height: 2px; color: black; background-color: black ; padding: 0px: margin: 0px"/>
<h3>vapply()</h3>
<p>vapply applies a function overa vector or list and returns a vector or matrix with the results of executing all instances of the vector or list into the function, the difference is that you have to explicity specify the type of value to result and the number of the expected results</p>
<p><span style="color: red;")>vapply</span>( <strong>vector_or_list</strong>, function, <span style="color: blue;">numeric(<span style="color: red;">2</span>)</span> )</p>

In [25]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

char_count <- vapply(cities, nchar, numeric(1))

char_count

[1] "output..."
[1] "........."

Guadalajara        CDMX   Monterrey   Queretaro
         11           4           9           9

In [24]:
print("output...")
print(".........")

cities <- c("Guadalajara", "CDMX", "Monterrey", "Queretaro")

first_and_last <- function(name) {  
    name <- gsub(" ", "", name)  
    letters <- strsplit(name, split = "")[[1]]  
    return(c(first = min(letters), last = max(letters)))
}


vapply(cities, first_and_last, character(2))

[1] "output..."
[1] "........."

      Guadalajara CDMX Monterrey Queretaro
first a           C    e         a
last  u           X    y         u

<p><strong>Recap</strong></p>
<ul>
    <li style="color: green;">lapply()
        <ul style="color: black;">
            <li>apply function over list or vector</li>
            <li>output = list</li>
        </ul>
    </li>
    <li style="color: green;">sapply()
        <ul style="color: black;">
            <li>apply function over list or vector</li>
            <li>try to simplify list to array</li>    
        </ul>
    </li>
    <li style="color: green;">vapply()
        <ul style="color: black;">
            <li>apply function over list or vector</li>
            <li>explicity specify output format</li>
        </ul>
    </li>
</ul>